<div class="row-fluid" style="margin-top: 30px;">
    <% if flash[:note] %>
    <div class="well">
    <%= @done %>
    </div>
    <% end %>
    
<% if request.GET['vim'].nil? then %>

<% if @showcontent %>
<div class="span2">
    <button class="btn btn-large btn-inverse" onClick="save()">Save</button>
</div>

<div class="span2">
    <button class="btn btn-large btn-inverse" onClick="savegit()">Commit</button>
</div>
<% end %>

<% end %>

<div class="offset5 span2"style="margin-left:150px;">
    <form id="githubpull" action="/site/githubpull" method="post">
    <input type="hidden" name="l" value="<%= @apps_name %>" />
    <input type="hidden" name="r" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
    <p><button class="btn btn-large btn-info" onClick="githubPull()">pull from github</button></p>
    </form>
</div>

<% if @showcontent %>
<div class="span1" style="margin-left:-30px;">
    <form id="githubpush" action="/site/github" method="post" accept-charset="utf-8">
    <input type="hidden" name="r" value="<%= @r %>" />
    <p><button class="btn btn-danger btn-large" onClick="githubPull()">push to github</button></p>
    </form>
</div>
<% end %>

    <div id="name" class="span1" style="float: right">
       <a href="<%= @produrl %>"><button class="btn btn-primary btn-large">Go to Prod App</button></a> 
    </div>
    <div id="name" class="span1" style="float: right">
       <a href="<%= @devurl %>"><button class="btn btn-primary btn-large">Go to Dev App</button></a> 
    </div>
    <div id="name" class="span1" style="float: right" onClick="clickSync()">
       <a href="/rsync?r=<%= @current_path %>&back=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"><button class="btn btn-info btn-large">sync</button></a> 
    </div>    
    <div id="name" class="span1" style="float: right" onClick="clickSyncdev()">
       <a href="/syncdev?r=<%= @current_path %>&back=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"><button class="btn btn-info btn-large">pull from dev</button></a> 
    </div>

</div>



<div id="name" class="row-fluid" style="display: none">


<div id="name" style="float:left">
<form action="/site/bitbucketpull" method="post">
<input type="hidden" name="l" value="<%= @apps_name %>" />
<input type="hidden" name="r" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
<p><input type="submit" value="pull from bitbucket" class="btn btn-large btn-info"></p>
</form>
    <div id="name" class="" style="float:left">
<form action="/site/bitbucket" method="post" accept-charset="utf-8">
<input type="hidden" name="r" value="<%= @r %>" />
<p><input type="submit" value="push bitbucket" class="btn btn-danger btn-large"></p>
</form>
        
    </div>
</div>

</div>

<script>
    
    function githubPull(){
        var r=confirm("Press a button");
        if (r==true)
          {
          x="You pressed OK!";
          }
        else
          {
          x="You pressed Cancel!";
          }
    }
    
    
</script>

