<h2>Notifications</h2>
<% thisUrl = request.fullpath.split("&notif")[0] %>
<p><a href=<%= "#{thisUrl}" %>>All</a> 
| <a href=<%= "#{thisUrl}&notif=me" %>>Me</a> 
| <a href=<%= "#{thisUrl}&notif=notme" %>>Other People</a>
| <a href=<%= "#{thisUrl}&notif=notme" %>>Delete Notifications</a>
<a href="/lsgit/gitToDB?r=<%= thisUrl %>" style="float:right">Sync Notif with Git</a>    
</p>
<div class="Notif" style="overflow: scroll; height: 300px; width: 100%;">
   
<% if !@notifs.nil? %>
   <% @notifs.each do |n| %> 
    <div id="name" class="alert alert-info">
        <br>
        <%= n.name %> - <%= n.created_at %>
    </div>
   <% end %>
<% end %>

</div>





