<h2>Notifications</h2>
<% thisUrl = request.fullpath.split("&notif")[0] %>
<p><a href=<%= "#{thisUrl}" %>>All</a> 
| <a href=<%= "#{thisUrl}&notif=me" %>>Me</a> 
| <a href=<%= "#{thisUrl}&notif=notme" %>>Other People</a>
| <a href=<%= "#{thisUrl}" %>>Delete Notifications</a>
<a  style="float:right; cursor: pointer" onClick="clickSyncGit()">Sync Notif with Git</a>    
</p>
<div class="Notif" style="overflow: scroll; height: 300px; width: 100%;">
   
<% if !@notifs.nil? %>
   <% @notifs.each do |n| %> 
    <div id="name" class="alert alert-info row span11">
        <br>
        <span style="float: left">
        <%= n.committer %> - <%= n.name %> - <%= n.date %> 
        </span>
        <span style="float: right">
        <% unless n.commit_message == '' or n.commit_message.nil? %>
            <% if @owner == 1 %>
        <a onClick="if(window.confirm('really want to reset --hard <%= n.commit_message %> ?')){window.location='/lsgit/goToVersion?r=<%= thisUrl %>&c=<%= n.commit_message %>'}" style="cursor : pointer"/>
            go to this version
        </a>
            <% end %>
        <% end %>
        </span>
    </div>
   <% end %>
<% end %>

</div>



<script type="text/javascript" charset="utf-8">
    
    function clickSyncGit(){
        var r=confirm("really want to sync Git To Notifs? means you lose the record if you ever revert back");
        if (r==true)
          {
          window.location = "/lsgit/gitToDB?r=<%= thisUrl %>"
          }
        else
          {
          x="You pressed Cancel!";
          }
        
    }

</script>


            <% if @owner == 1 %>
<div class="offset9" style="margin-top: 50px">
    <form action="/lsgit/goToVersion" method="get" accept-charset="utf-8">
    <input type="hidden" name="r" value="<%= thisUrl %>">
    <input type="text" name="c" placeholder="code commit">
    <p><input type="submit" value="Submit" class="btn btn-danger"></p>
    </form>
</div>
            <% end %>
