<h2>Notifications</h2>
<p><a href=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>>All</a> 
| <a href=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}&notif=me" %>>Me</a> 
| <a href=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}&notif=notme" %>>Other People</a></p>
<div class="Notif" style="overflow: scroll; height: 300px; width: 100%;">
    
   <% @notifs.each do |n| %> 
    <div id="name" class="alert alert-info">
        <br>
        <%= n.name %> - <%= n.created_at %>
    </div>
   <% end %>

</div>
