                <% if @apps %>
<div class="span4 offset4">
<p>List of your apps:</p>
<br>
    <% @apps.each do |a| %>
    <p><a href="/list/?r=-__-<%= a.name %>"><i class="icon-fire"></i> <%= a.virtual_name %> </a> 
        <a><span style="float:right" >x</span></a>
    </p>
    <% end %>   
    
    
<br><br>
</div>
<% end %>

<% if @apps_col %>
<div class="span4 offset4">
<p>List of apps that you collaborate in:</p>
<br>
    <% @apps_col.each do |a| %>
    <p><a href="/list/?r=-__-<%= a.apps.name %>"><i class="icon-fire"></i> <%= a.apps.virtual_name %> </a></p>
    <% end %>   
    
    
<br><br>
</div>
<% end %>

<% if flash[:create_apps] %>
<div class="alert">
    <%= flash[:create_apps] %>
</div>
<% end %>
<div class="well span4 offset4">
<font color="#777">create new app</font><br>
<form action="/site/upload" enctype="multipart/form-data" method="post"> 
<input type="hidden" name="username" value="<%= @username %>" /><br>
<input type="text" name="name" placeholder="input apps name" style="height:30px;"><br>
<br>
<a onclick="showDatabaseForm()" id="cursordb" style="cursor:pointer">use database?</a>
<br>
<span id="databaseform" style="display: none">
<input type="text" name="database_name" placeholder="database name" style="height:30px;"><br>
<input type="text" name="database_username" placeholder="database username" style="height:30px;"><br>
<input type="text" name="databasepwd" placeholder="database password" style="height:30px;"><br>
</span>
<br>
<input type="submit" class="btn-primary btn-large"> 
</form>

</div>


<script type="text/javascript" charset="utf-8">
    function showDatabaseForm(){
        document.getElementById("databaseform").style.display="block";
        document.getElementById("cursordb").style.display="none";
    }

    function langsupport(){
        document.getElementById("langsupport").style.display="block";
        document.getElementById("langsupport?").style.display="none";
    }
    
    function showDatabase(){
        document.getElementById("databaseHelp").style.display="block";
        document.getElementById("database?").style.display="none";
    }
    

</script>









