<% if flash[:githubnew] %>
<div class="alert">
    <%= flash[:githubnew] %>
</div>
<% end %>

<br><br><br>

<form action="/site/githubnew" method="post" accept-charset="utf-8">
    

<select name="apps_name">
<% if @apps %>
    <% @apps.each do |a| %>
        <option value="<%= a.name %>"><%= a.virtual_name %></option>
    <% end %>
<% end %>
</select>
<br>
<input type="text" name="githubname" style="height: 35px; width: 450px;" placeholder="your github name"><br>
<input type="text" name="githubrepo" style="height: 35px; width: 450px;" placeholder="your github project name"><br>
<p><input type="submit" value="Save" class="btn btn-large btn-primary"></p>
</form>
<br><br>
<span id="cursortable" style="cursor:pointer"><a onClick="showTable()">see list of your apps?</a></span>

<div  id="tablegithub" style="display:none">
<table border="2" cellpadding="15">
<tr>
<th>Apps Name</th>
<th>Github Name</th>
<th>Github Project</th>
</tr>

<% if @apps %>
    <% @apps.each do |a| %>
    <tr>
        <td><font color="red"><%= a.virtual_name %></font></td>
        <td><font color="blue"><%= a.githubname %></font></td>
        <td><font color="brown"><%= a.githubproject %></font></td>
    </tr>
    <% end %>
<% end %>

</table>

</div>


<script type="text/javascript" charset="utf-8">
    function showTable(){
        document.getElementById("tablegithub").style.display="block";
        document.getElementById("cursortable").style.display="none";
    }

    
</script>




