        <div id="name" class="row">
    <!--
<div id="name" class="span2 offset6">
   <a href="/site/gitnew"><button class="btn-primary btn-large">import key</button></a>
</div>
<div id="name" class="span2">
   <a href="/site/githubnew"><button class="btn-primary btn-large">set github</button></a>
</div>
-->

</div>
<div class="row">
</div>
<br>
<% if @root %>

    <a href=<%= "'/list/?r=#{@back}'"%> style="cursor:pointer">
    <span class="span1 btn">
    <i class="icon-arrow-left"></i>
    </span>
    </a>
    <a href="/site/download/<%= @current_path %>" rel="tooltip" data-placement="top" data-original-title="Download this directory as zip">
    <span id="downloadbutton" style="float:right; margin-left:20px; cursor: pointer"><i class="icon-download-alt"></i></span>
    </a>
    <a href="#" rel="tooltip" data-placement="top" data-original-title="Tooltip on top">Tooltip on top</a>
    <span id="renamebutton" style="float:right; cursor: pointer" onClick="rename()"><button class="btn">rename</button></span>
    <span id="newfilebutton" style="float:right; margin-right:20px; cursor: pointer" onClick="newfile()"><button class="btn">newfile</button></span>
    <span id="newfolderbutton" style="float:right; margin-right:20px; cursor: pointer" onClick="newfolder()"><button class="btn">newfolder</button></span>
    <span id="uploadfilebutton" style="float:right; margin-right:20px; cursor: pointer" onClick="uploadfile()"><button class="btn">upload file</button></span>
    <span id="uploadfolderbutton" style="float:right; margin-right:20px; cursor: pointer" onClick="uploadfolder()"><button class="btn">upload folder</button></span>


    <span id="otheroption" style="display:none; float:right;"><a href="">other option</a>
    </span>
    <br><br>
    <form action="/site/renamefile" method="post" accept-charset="utf-8" style="float:right; display:none" id="renameform">
    <input type="text" name="oldfile" placeholder="old folder/file"/>
    <br>
    <input type="text" name="newfile" placeholder="new folder/file"/>
    <input type="hidden" name="r" value="<%= "#{@current_path}" %>" />
    <p><input type="submit" value="rename file" class="btn"></p>
    <div id="name" class="well">
       <p>to rename folder, you can just use slash "/" in the end of the name (e.g <b>myfolder/</b> ) </p>
    </div>
    </form>

    <form action="/site/newfile" method="post" accept-charset="utf-8" style="float:right; display:none" id="newfileform">
    <input type="text" name="newfile" placeholder="new file"/>
    <input type="hidden" name="r" value="<%= "#{@current_path}" %>" />
    <p><input type="submit" value="create new file" class="btn"></p>
    </form>

    <form action="/site/newfolder" method="post" accept-charset="utf-8" style="float:right; display:none" id="newfolderform">
    <input type="text" name="newfolder" placeholder="new folder"/>
    <input type="hidden" name="r" value="<%= "#{@current_path}" %>" />
    <p><input type="submit" value="create new folder" class="btn"></p>
    </form>
    
    <form accept-charset="UTF-8" action="/site/uploadfile" enctype="multipart/form-data" method="post" style="float:right; display:none" id="uploadfile" ><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="rX5gkY64mIYajqBC0N7JJNoD5K7PiUVA/rsBtZ3oARI=" /></div>
            <input name="thefile[]" type="file" multiple="multiple"/>
            <input type="hidden" name="r" value="<%= "#{@current_path}" %>" />
            <input type="submit" class="btn btn-danger" value="upload"/>
    </form><br>
    
    <form accept-charset="UTF-8" action="/site/uploadfolder" enctype="multipart/form-data" method="post" style="float:right; display:none" id="uploadfolder"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="rX5gkY64mIYajqBC0N7JJNoD5K7PiUVA/rsBtZ3oARI=" /></div>
            <input name="thefile" type="file" />
            <input type="hidden" name="r" value="<%= "#{@current_path}" %>" />
            <input type="submit" class="btn btn-danger" value="upload"/>
    </form><br>
    
<% end %>
<br>
<br>
<% if @root %>
    <div class="alert span1">
        <b>
        <%= @apps_name %>
        </b>
    </div>
<% end %>
<br>
<br>
<br>
<br>
<% @listfolder.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p><a href="<%= "/list/?r=#{@current_path}-__-#{l.delete"/"}" %>"><i class="icon-folder-open"></i> <%= l %></a></p>
<% end %>


<% @listfile.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p><a href="<%= "/content?r=#{@current_path}-__-#{l.delete"/"}" %>"><i class="icon-file"></i> <%= l %></a></p>
<% end %>

    <% if flash[:note] %>
    <br>
    <br>
    <pre>
    <%= @done %>
    </pre>
    <% end %>
    
<% if @root %>
<br><br>
<div id="name" class="row-fluid">
    <div id="name" class="span2">
    <form action="/site/githubpull" method="post" accept-charset="utf-8">
    <input type="hidden" name="l" value="<%= @apps_name %>" />
    <input type="hidden" name="r" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
    <p><input type="submit" value="pull from github" class="btn btn-info btn-large"></p>
    </form>
    </div>
    <div id="name" class="span1" style="float: right">
       <a href="http://<%= @apps_name %>.letspan.com"><button class="btn btn-primary btn-large">Go to Prod App</button></a> 
    </div>
    <div id="name" class="span1" style="float: right">
       <a href="http://dev.<%= @apps_name %>.letspan.com"><button class="btn btn-primary btn-large">Go to Dev App</button></a> 
    </div>
    <div id="name" class="span1" style="float: right">
       <a href="/rsync?r=<%= @current_path %>&back=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"><button class="btn btn-info btn-large">rsync</button></a> 
    </div>

</div>
<% end %>
<br><br>

<% unless @username == 'guest' %>
<pre>
    $ git init
    $ git remote add letspan git@letspan.com:<%= @apps_name %>.git
    $ git pull letspan master
    $ git add . -A
    $ git commit -m 'first commit'
    $ git push letspan master
</pre>
<% end %>

<script type="text/javascript" charset="utf-8">
    
    function rename(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("renameform").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }

    function newfile(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("newfileform").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }

    function newfolder(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("newfolderform").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }
    
    function uploadfile(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("uploadfile").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }
    
    function uploadfolder(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("uploadfolder").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }
    
    
</script>   








