<div id="name" class="row">
    <div id="name" class="span1">
        
    <a href="/site/index">Home</a>

    </div>
    <!--
<div id="name" class="span2 offset6">
   <a href="/site/gitnew"><button class="btn-primary btn-large">import key</button></a>
</div>
<div id="name" class="span2">
   <a href="/site/githubnew"><button class="btn-primary btn-large">set github</button></a>
</div>
-->

</div>
<br>
<br>
<a href=<%= "'/list/?r=#{@back}'"%> style="cursor:pointer">up</a>
<br>
<br>

<% @listfolder.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p><a href="<%= "/list/?r=#{@current_path}-__-#{l.delete"/"}" %>">+ <%= l %></a></p>
<% end %>


<% @listfile.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p><a href="<%= "/content/?r=#{@current_path}-__-#{l.delete"/"}" %>">- <%= l %></a></p>
<% end %>

<% if @pull %>
    <form action="/site/githubpull" method="post" accept-charset="utf-8">
    <input type="hidden" name="l" value="<%= @apps_name %>" />
    <input type="hidden" name="r" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
    <p><input type="submit" value="pull from github" class="btn"></p>
    </form>
<% end %>

<%= @directory %>

