<a href="/site/index">Home</a>
<br>
<br>
<a href="" style="cursor:pointer">up</a>
<br>
<br>

<% @listfolder.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<div id="name" class="row">
<div class="span3"><a href="<%= "http://apps.letspan.com/#{l}" %>">* <%= l %></a></div>
<div id="name" class="">
</div>
<br><br>
</div>
<% end %>


<% @listfile.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p><a href="<%= "/content/?r=#{@current_path}-__-#{l.delete"/"}" %>"><%= l %></a></p>
<% end %>


<%= @directory %>

