<% 
@title = request.GET['r'].split("-__-").join("/")
%> 

<style>
    .theitem:hover{
        background-color: #bebebe;
        }
</style>


<% if flash[:list] %>
<div class="alert">
    <%= flash[:list] %>
</div>
<% end %>


<br>

<div class="row-fluid">
<div name="notifyalertcontainer">
    <div name="notifyalert" style="display:none" class="alert alert-info">    
        <p></p>
    </div>
</div>
<% if @root %>

 <%= render :partial => "shared/button_top.html.erb" %>
    
<% end %>
</div>

<% if @root %>
        
        <code class="" style="float:left">
            <%= @path %>
        </code>

<% end %>


<div id="name" class="" style="float:right; margin: 0 100 0 -100;">
<img id="loading" src="http://www.laneaviation.com/wp-content/themes/laneaviation/images/loading.gif" style="display:none; position: fixed; margin-left: -100px;"/>
</div>


<br><br>

<br><br>

<% @listfolder.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p class="theitem"><a href="<%= "/list/?r=#{@current_path}-__-#{l.delete"/"}" %>"><i class="icon-folder-close"></i> <%= l %></a>
    <span style="float:right"><a style="cursor: pointer" onClick="deletefile('<%= "/site/deletefile/?r=#{@current_path}&f=#{l[1..-1]}" %>')">x</a>
    </span>
</p>
<% end %>


<% @listfile.each do |l| %>
<% l.slice! "/var/www/ls/upload/#{@name}" %>
<p class="theitem"><a href="<%= "/content?r=#{@current_path}-__-#{l.delete"/"}" %>"><i class="icon-list-alt"></i> <%= l %></a>
    <span style="float:right"><a style="cursor: pointer" onClick="deletefile('<%= "/site/deletefile/?r=#{@current_path}&f=#{l[1..-1]}" %>')">x</a>
    </span>
</p>
<% end %>


    
<% if @root %>
<br><br>
<%= render :partial => "shared/button_bottom" %>
<% end %>
<br><br>
<%= render :partial => "shared/showNotif" %>
<br><br>

<% unless @username == 'guest' %>
<pre>
    $ git init
    $ git remote add gitspan git@gitspan.com:<%= @apps_name %>.git
    $ git pull gitspan master
    $ git add . -A
    $ git commit -m 'first commit'
    $ git push gitspan master
</pre>
    <% if @owner %>
    <form action="/site/collaborator" method="post" accept-charset="utf-8">    
    <input type="hidden" name="r" value="<%= "#{@current_path}" %>" />
    <input type="hidden" name="apps_name" value="<%= @apps_name %>">
    <input type="text" name="colname" placeholder="Add collaborator name">
    <p><input type="submit" value="Save" class="btn"></p>
    </form>
    <% @collaborator.each do |c| %>
        <p class="theitem"><i class="icon-pencil"></i> 
            <%= c.user.username %>
            <span style="float:right"><a style="cursor: pointer" href="<%= "/site/deletecol?r=#{@current_path}&namecol=#{c.user.username}" %>">x</a>
            </span>
        </p>
    <% end %>
    <% end %>

<% end %>

<script type="text/javascript" charset="utf-8">
    
    function rename(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("renameform").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }

    function newfile(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("newfileform").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }

    function newfolder(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("newfolderform").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }
    
    function uploadfile(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("uploadfile").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }
    
    function uploadfolder(){
        document.getElementById("newfolderbutton").style.display="none";
        document.getElementById("newfilebutton").style.display="none";
        document.getElementById("renamebutton").style.display="none";
        document.getElementById("uploadfilebutton").style.display="none";
        document.getElementById("uploadfolderbutton").style.display="none";
        document.getElementById("uploadfolder").style.display="block";
        document.getElementById("otheroption").style.display="block";
    }
    
    function deletefile(directory){
        filename = directory.split("&")[1].split("f=")[1]
        var r=confirm("Going to delete "+filename);
        if (r==true)
          {
          window.location = directory
          }
        else
          {
          x="You pressed Cancel!";
          }
    }
    
    
</script>   

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<script>
    //notiftimer=setInterval("retrieveNotif();",10000);
</script>
<% # render :partial => "shared/notifyjs" %>





