<% 
@title = request.GET['r'].split("-__-").join("/")
@showcontent = 1
%> 
  <style type="text/css" media="screen">
    #editor { 
        position: relative;
        margin: 0 100;
        width: 100%;
        height: 500px;
    }
  </style>
  
<link rel="stylesheet" href="/bootstrap-notify-master/css/bootstrap-notify.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/bootstrap-notify-master/css/styles/alert-blackgloss.css" type="text/css" media="screen" charset="utf-8">
<% if flash[:list] %>
<div class="alert">
    <%= flash[:list] %>
</div>
<% end %>

<div class='notifications top-right'></div>
    
<div id="name" class="" style="float:right; margin: 0 100 0 -100">
<img id="loading" src="http://www.laneaviation.com/wp-content/themes/laneaviation/images/loading.gif" style="display:none; position: fixed; margin-left: -100px;"/>
</div>


<br>
<div id="name" class="row-fluid">

<%= render :partial => "shared/button_top.html.erb" %>

<br>
<% if !request.GET['vim'].nil? then %>
<span class="span1 offset10" style="float:right"><a href=<%="'/content?r=#{@r}'" %>><button class="btn btn-success">normal</button></a></span>
<br>
<% else %>
<span class="span1 offset10" style="float:right; display:none"><a href=<%="'/content?r=#{@r}&vim=1'" %>><button class="btn btn-inverse">Vim</button></a></span>
<% end %>
</div>
<br>
<code class="" style="float:left"><%= @path %></code>
<% if !request.GET['vim'].nil? %>
<br>
<code style="float:right">press <b>:w</b> or <b>:q</b> to save and push your change</code>
<% end %>
<br>
<br>
<% if !request.GET['vim'].nil? then %>
<br>

<iframe src="/ace-editor/vim?r=<%= @r %>" frameborder="0" width="100%" height="400px"></iframe>
<% else %>
<br>


    <div class="alert alert-error" id="notifUpdate" style="display : none">
    </div>


<div name="notifyalertcontainer">
    <div name="notifyalert" style="display:none" class="alert alert-info">    
        <p></p>
    </div>
</div>
<% if @image %>
    <img src="<%= @image %>" />
<% else %>
<pre id="editor"><%= @contents %>
</pre>
<% end %>


<span id="thisfile" style="display: none" value="<%= @r %>"><%= @r %></span>



<% end %>


<%= render :partial => "shared/button_bottom" %>

<%= render :partial => "shared/showNotif" %>


<script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/<%= @language %>");
</script>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<% # render :partial => "shared/notifyjs" %>

  <script>
      $(document).ready(function(){
            document.getElementById("editor").setAttribute('style','height:'+ 0.5*window.outerHeight+'px')
      });
      
      function deleteNotif(){        
        $.post("/lsgit/deleteNotif", { path: '<%=@current_path%>-__-' });
        document.getElementById("notifUpdate").style.display = "none";
        
      }
  </script>
  


<script src="/bootstrap-notify-master/js/bootstrap-notify.js"></script>


<script>

function retrieveNotif(){

    if(noUpdate == 1){
       noUpdate = 0
       deleteNotif();
       return
    }

    $.ajax({
        type: "POST",
        url: "/lsgit/index",
        data: "path='<%= @current_path %>-__-'",
        dataType: "json",
        success: function(result){     

             // $('.top-right').notify({
             //   message: { text: result[0].commit_message },
             //   type: 'blackgloss',
             // }).show();

             if(result[0] == undefined){
                return;
             }

             document.getElementById("notifUpdate").style.display = "block";
             document.getElementById("notifUpdate").innerHTML = result[0].commit_message + " <span style='float:right'>please press <a onClick='deleteNotif()' style='cursor:pointer'>this</a> to delete this notif </span>";

            retrieveNotif();
        }
    });    


}


retrieveNotif();
</script>  
