<% 
@title = request.GET['r'].split("-__-").join("/")
%> 
  <style type="text/css" media="screen">
    #editor { 
        position: relative;
        margin: 0 100;
        width: 100%;
        height: 500px;
    }
  </style>
  
<link rel="stylesheet" href="/bootstrap-notify-master/css/bootstrap-notify.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/bootstrap-notify-master/css/styles/alert-bangtidy.css" type="text/css" media="screen" charset="utf-8">
<% if flash[:list] %>
<div class="alert">
    <%= flash[:list] %>
</div>
<% end %>

<div class='notifications top-right'></div>
<br>
<div id="name" class="row-fluid">
<a href=<%= "'/list/?r=#{@back}'"%> style="cursor:pointer">
<span class="span1 btn">
<i class="icon-arrow-left"></i>
</span>
</a>
<br>
<% if !request.GET['vim'].nil? then %>
<span class="span1 offset10" style="float:right"><a href=<%="'/content?r=#{@r}'" %>><button class="btn btn-success">normal</button></a></span>
<br>
<% else %>
<span class="span1 offset10" style="float:right; display:none"><a href=<%="'/content?r=#{@r}&vim=1'" %>><button class="btn btn-inverse">Vim</button></a></span>
<% end %>
</div>
<br>
<code class="" style="float:left"><%= @path %></code>
<% if !request.GET['vim'].nil? %>
<br>
<code style="float:right">press <b>:w</b> or <b>:q</b> to save and push your change</code>
<% end %>
<br>
<br>
<% if !request.GET['vim'].nil? then %>
<br>

<iframe src="/ace-editor/vim?r=<%= @r %>" frameborder="0" width="100%" height="400px"></iframe>
<% else %>
<br>
<div name="notifyalertcontainer">
    <div name="notifyalert" style="display:none" class="alert alert-info">    
        <p></p>
    </div>
</div>
<% if @image %>
    <img src="<%= @image %>" />
<% else %>
<pre id="editor"><%= @contents %>
</pre>
<% end %>


<span id="thisfile" style="display: none" value="<%= @r %>"><%= @r %></span>



<% end %>


<div class="row-fluid" style="margin-top: 30px;">
    <% if flash[:note] %>
    <div class="well">
    <%= @done %>
    </div>
    <% end %>
    
<% if request.GET['vim'].nil? then %>

<div class="span2">
    <button class="btn btn-large btn-inverse" onClick="save()">Save</button>
</div>

<div class="span2">
    <button class="btn btn-large btn-inverse" onClick="savegit()">Commit</button>
</div>

<% end %>

<div class="offset5 span2"style="margin-left:150px;">
    <form action="/site/githubpull" method="post">
    <input type="hidden" name="l" value="<%= @apps_name %>" />
    <input type="hidden" name="r" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
    <p><input type="submit" value="pull from github" class="btn btn-large btn-info"></p>
    </form>
</div>

<div class="span1" style="margin-left:-30px;">
    <form action="/site/github" method="post" accept-charset="utf-8">
    <input type="hidden" name="r" value="<%= @r %>" />
    <p><input type="submit" value="push to github" class="btn btn-danger btn-large"></p>
    </form>
</div>

    <div id="name" class="span1" style="float: right">
       <a href="<%= @produrl %>"><button class="btn btn-primary btn-large">Go to Prod App</button></a> 
    </div>
    <div id="name" class="span1" style="float: right">
       <a href="<%= @devurl %>"><button class="btn btn-primary btn-large">Go to Dev App</button></a> 
    </div>
    <div id="name" class="span1" style="float: right">
       <a href="/rsync?r=<%= @current_path %>&back=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"><button class="btn btn-info btn-large">rsync</button></a> 
    </div>

</div>



<div id="name" class="row-fluid" style="display: none">


<div id="name" style="float:left">
<form action="/site/bitbucketpull" method="post">
<input type="hidden" name="l" value="<%= @apps_name %>" />
<input type="hidden" name="r" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
<p><input type="submit" value="pull from bitbucket" class="btn btn-large btn-info"></p>
</form>
    <div id="name" class="" style="float:left">
<form action="/site/bitbucket" method="post" accept-charset="utf-8">
<input type="hidden" name="r" value="<%= @r %>" />
<p><input type="submit" value="push bitbucket" class="btn btn-danger btn-large"></p>
</form>
        
    </div>
</div>

</div>

<%= render :partial => "shared/showNotif" %>


<script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/<%= @language %>");

    function save(){
        var commit = "just edit <%= @current_path.split("-__-").join("/") %>";
        var content = editor.getSession().getValue();
        thisfile = document.getElementById("thisfile").innerHTML
        $.post('/site/savecontent', { content: content, thisfile: thisfile, commit: commit });
    }


    function savegit(){
        var commit = prompt("Commit: ", "just edit <%= @current_path.split("-__-").join("/") %>");
        var content = editor.getSession().getValue();
        thisfile = document.getElementById("thisfile").innerHTML
        $.post('/site/savecontentgit', { content: content, thisfile: thisfile, commit: commit });
    }


document.onkeydown = checkKeycode
    function checkKeycode(e) {
    var keycode;
    if (window.event) keycode = window.event.keyCode;
    else if (e) keycode = e.which;
    if(keycode==27){
        window.location = "/content?r=<%= @r %>&vim=1";
    }
}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<script type="text/javascript">
notiftimer=setInterval("retrieveNotif();",2000);    
</script>

<% # render :partial => "shared/notifyjs" %>

  <script>
      $(document).ready(function(){
            document.getElementById("editor").setAttribute('style','height:'+ 0.5*window.outerHeight+'px')
      });
  </script>
  


<script src="/bootstrap-notify-master/js/bootstrap-notify.js"></script>

<script>
function retrieveNotif(){
    $.ajax({
        type: "POST",
        url: "/lsgit/index",
        data: "path='<%= @current_path %>-__-'",
        dataType: "json",
        success: function(result){     
            //alert(result[0].name)
              $('.top-right').notify({
                message: { text: result.name }
              }).show();
        }
    });    
}

</script>  
