<% if flash[:server] %>
<div class="alert">
    <%= flash[:server] %>
</div>
<% end %>
<!--
<br><br><br>

<h2>Database settings</h2><br>
<form action="/server/submitdb" method="post" accept-charset="utf-8">
    

<select name="apps_name">
<% if @apps %>
    <% @apps.each do |a| %>
        <option value="<%= a.name %>"><%= a.virtual_name %></option>
    <% end %>
<% end %>
</select>
<br>
<input type="text" name="dbname" style="height: 35px; width: 250px;" placeholder="database name (e.g <%= @apps.first.name %>)"><br>
<input type="text" name="dbuser" style="height: 35px; width: 250px;" placeholder="database user (e.g <%= @username %>)"><br>
<input type="text" name="dbpwd" style="height: 35px; width: 250px;" placeholder="database password"><br>
<p><input type="submit" value="Save" class="btn btn-large btn-primary"></p>
</form>
<br><br>


<span id="cursortable" style="cursor:pointer; display:none"><a onClick="showTable()">see list of your apps?</a></span>

<div  id="tableserver" style="display:">
<table border="2" cellpadding="15">
<tr>
<th>Apps Name</th>
<th>Database Name</th>
<th>DB Username</th>
<th>DB Password</th>
</tr>

<% if @apps %>
    <% @apps.each do |a| %>
    <tr>
        <td><font color="red"><%= a.virtual_name %></font></td>
        <% if a.thedatabase.nil? %>
            <td></td>
            <td></td>
            <td></td>
        <% else %>
            <td><font color="blue"><%= a.thedatabase.database_name %></font></td>
            <td><font color="blue"><%= a.thedatabase.database_username %></font></td>
           <td><font color="blue">
            <%  
                pwd = a.thedatabase.database_pwd 
                unless pwd.nil?
                    if pwd[1]
                        pwd[1] = '*'
                    end
                    if pwd[2]
                        pwd[2] = '*'
                    end
                    if pwd[3]
                        pwd[3] = '*'
                    end
                    %>
                    <%= pwd %>
            <%  end %>
            </font></td>
        <% end %>
    </tr>
    <% end %>
<% end %>

</table>
</div>


-->

<br><br><br><br><br><br>
<h2>Server settings</h2><br>
<form action="/server/submit" method="post" accept-charset="utf-8">
    

<select name="apps_name">
<% if @apps %>
    <% @apps.each do |a| %>
        <option value="<%= a.name %>"><%= a.virtual_name %></option>
    <% end %>
<% end %>
</select>
<br>
<input type="text" name="devserver" style="height: 35px; width: 450px;" placeholder="your dev server (e.g ubuntu@myweb.com:www/mybare.git)"><br>
<input type="text" name="devurl" style="height: 35px; width: 450px;" placeholder="your dev URL (e.g http://dev.myweb.com)"><br>
<input type="text" name="prodserver" style="height: 35px; width: 450px;" placeholder="your prod server (e.g ubuntu@myweb.com:www/mybare.git)"><br>
<input type="text" name="produrl" style="height: 35px; width: 450px;" placeholder="your prod URL (e.g http://www.myweb.com)"><br>
<p><input type="submit" value="Save" class="btn btn-large btn-primary"></p>
</form>
<br><br>
<h3><font color="red">Put this public key so we can push to your remote server</font></h3>
<pre>
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+9KINbhIdW0WWrzg+7efwSVs0Jgjzs5quOtPSpHAOfj75xe+Mh4CL8aBhHaFZR459nVqfDrycq/Uoxug2kChMtosxu3Bnkkaeae8GJkKOHPgnD/50LkkE1wPrP+3NPPcl6qfbHz+2kYzBQGHwj3KfFI4y8z61/Ywvgiu7TaCmNZlOUEUxnAtKJ8KXb8Q4v78gDZwhBxkUPQ7iHb2irjOV4ClMFVgutEX3snv/pBI6VNC63FM1Galj4rJ2CEtYzw5+BBy+H2vRqoK/Hdi1LG0fEHWMkFcKNtS4l81s8LyNhJfiyD4SAN85vRWc9bgKTMzx5ZWnUO6vZ9a9TZQCIIXv evan@evan-Lenovo
</pre>


<br><br>

<span id="cursortable" style="cursor:pointer; display:none"><a onClick="showTable()">see list of your apps?</a></span>

<div  id="tableserver" style="display:">
<table border="2" cellpadding="15">
<tr>
<th>Apps Name</th>
<th>Development Server</th>
<th>Development URL</th>
<th>Production  Server</th>
<th>Production  URL</th>
</tr>

<% if @apps %>
    <% @apps.each do |a| %>
    <tr>
        <td><font color="red"><%= a.virtual_name %></font></td>
        <% if a.server.nil? %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <% else %>
            <td><font color="blue"><%= a.server.devserver %></font></td>
            <td><font color="brown"><a href="<%= a.server.devurl %>"><%= a.server.devurl %></a></font></td>        
            <td><font color="blue"><%= a.server.prodserver %></font></td>
            <td><font color="brown"><a href="<%= a.server.produrl %>"><%= a.server.produrl %></a></font></td>        
        <% end %>
    </tr>
    <% end %>
<% end %>

</table>
</div>


<script type="text/javascript" charset="utf-8">
    function showTable(){
        document.getElementById("tableserver").style.display="block";
        document.getElementById("cursortable").style.display="none";
    }

    
</script>



<br><br><br>





