<% @apps.each do |app| %>
     
    <p>* <%= app.virtual_name %> - <%= app.id %>
    <% unless app.server.nil? %>
        <%= app.server.devserver %>
        <%= app.server.prodserver %>
    <% end %>
    </p>

<% end %>

<% if @apps %>
    <% @apps.each do |a| %>
    <tr>
        <td><font color="red"><%= a.virtual_name %></font></td>
        <td><font color="blue"><%= a.githubname %></font></td>
        <td><font color="brown"><%= a.githubproject %></font></td>
    </tr>
    <% end %>
<% end %>


